<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sistema de Projetos</title>
<th:block th:include="fragments/cabecalho :: head"></th:block>
</head>
<body>
	<th:block th:include="fragments/menu :: menu"></th:block>
	<div class="container">
		<h1>Novo Projeto</h1>
		<div class="row">
			<form class="col-md-8 col-md-offset-2">
				<div class="form-group">
					<label for="nomeProjeto">Nome</label> <input type="text"
						id="nomeProjeto" class="form-control" name="nome" />
				</div>
				<div class="form-group">
					<label for="patrocinador">Patrocinador</label> <input
						id="patrocinador" type="text" class="form-control"
						name="patrocinador" />
				</div>
				<div class="form-group">
					<label for="fundos">Fundos Autorizados</label> <input id="fundos"
						type="text" class="form-control" name="fundosAutorizados" />
				</div>
				<div class="form-group">
					<label for="horas">Horas Autorizadas</label> <input id="horas"
						type="text" class="form-control" name="horasAutorizadas" />
				</div>
				<div class="form-group">
					<label for="nomeProjeto">Descrição</label>
					<textarea class="form-control" rows="3"></textarea>
				</div>
				<button type="submit" class="btn btn-default">Adicionar</button>
			</form>
		</div>
	</div>
</body>
</html>